/*css reset*/
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0}
*{ margin:0; padding:0;}
body{ font-size:100%; font-family:'Microsoft Yahei','Simsun'; line-height:1.5;  color:#363636;background:#fff;-webkit-text-size-adjust: none;  }
h1,h2,h3,h4,h5,h6{font-size:100%}
form{display:inline}
ul,ol{list-style:none}
a{text-decoration:none;color:#666666}
a:hover, a:active, a:focus{color:#2e2e2e;text-decoration: none;}
a:active{color:#aaa;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{font-size:100%; vertical-align:middle;outline:none;}
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0}
table,tr,td { border-collapse:collapse; border-spacing:0; border:1px solid #cbcbcb; height:30px; line-height:30px;}
.fl{float:left; display: inline;}.fr{float:right; display: inline;}.hide{display:none;}.show{display: block;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.break { word-break:break-all; word-wrap:break-word}
.clearfix:after{content: '';display:table;clear:both;}
.comWidth{
    width: 960px; margin: 0 auto;
}
.mt30{ margin-top: 30px;}

/*脚部信息、版权*/
#z-bottom {
    height: 195px;
    padding-top: 20px;
    background-color: #526784;
    border-bottom: 1px solid #596d89;
}
#z-bottom .z-center {
    width: 860px;
    padding-top: 20px;
    margin: 0 auto;
}
#z-bottom .myguide {
    list-style: none;
    margin: 0 auto;
    padding-left: 5px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}
.myguide li {
    display: inline-block;
}
.myguide li {
    display: inline;
}
.myguide li a {
    color: #b0b4b9;
    font-size: 12px;
    margin-left: 18px;
    margin-right: 20px;
    text-decoration: none;
}
.myguide li em {
    color: #c9c9c9;
    font-style: normal;
}
.b-left-cont {
    padding: 20px;
    width: 390px;
    float: left;
}
.b-left-cont .logo_dzjg {
    display: block;
    float: left;
}
.b-left-cont .wd-title {
    float: left;
    margin-left: 18px
}
.b-left-cont .wd-title h3 {
    font-size: 34px;
    font-family: "宋体";
    font-weight: 700;
    color: #fafafa;
    margin-top: 4px;
}
.b-left-cont .wd-title p {
    font-size: 14px;
    color: #ccc;
    margin-left: 5px;
}
.b-right-cont {
    width: 310px;
    float: right;
    margin-right: 15px;
    padding-top: 18px;
}
.b-right-cont p {
    font-size: 12px;
    color: #ccc;
    line-height: 24px;
}
